<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @post.excerpt %>
</p>

<p>
  <strong>Excerpt image:</strong>
  <%= @post.excerpt_image %>
</p>

<p>
  <strong>Body image:</strong>
  <%= @post.body_image %>
</p>

<p>
  <strong>Post on:</strong>
  <%= @post.post_on %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @post.kind %>
</p>

<p>
  <strong>Written on:</strong>
  <%= @post.written_on %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
